extends ../layout

block head
  - var title = "The City of " + city.title + " | World | Avalon RPG";
  - var description = city.get("intro", true)
  - var keywords = "Online Game, Online RPG, RPG, Roleplaying Games, RPGS, MUD, MUDs, Online Games, Interactive Games, Multiplayer Games, Multiuser Games, Internet Games, Fantasy Games, Magic, Adventure, Java, Telnet Client, Online, Knight, Sorcerer, Sorcery, Poisons, Potions, Mage, Mystic, Thief, Guild, Bard, Battle, Army, Strategy";
  link(rel="canonical", href="http://www.avalon-rpg.com/cities/" + city.name)

block content
  .ui.content.city
    .contain
      h1.ui.title #{city.title}
      .ui.grid.responsive
        .twelve.column.wide.main.breadcrumbed
          .ui.breadcrumb
            a(href="/world/#cities") Cities
            i.icon.angle.right
            b  #{city.title}
          a(name="found")
          p.lead #{city.get("intro", true)}
          p #{city.get("founding", true)}

          h2.ui.title.overline Founding History
          != city.get("foundhistory")

          a(name="intro")
          h2.ui.title.overline Introduction
          != city.get("fullintro")

          a(name="history")
          h2.ui.title.overline History
          != city.get("history")

          a(name="war")
          h2.ui.title.overline War Record
          != city.get("war")

          a(name="temples")
          h2.ui.title.overline.underline Temples
          - var temples = city.get("temples")
          for temple in temples
            h4.ui.title #{temple.deity}
            p #{temple.content}

          .ui.manual
            a(name="avintro")
            h2.ui.title.overline Words from the Barony
            .text.help!= city.help(city.name)


        .four.column.wide.sidebar
          .ui.block.image
            .content
              img(src="/img/cities/"+city.name+ ".png").ui.image.fluid
          .ui.block
            .content
              .ui.menu.vertical
                a.item(href="#found") Founding
                a.item(href="#intro") Introduction
                a.item(href="#history") History
                a.item(href="#war") War Record
                a.item(href="#temples") Temples
                a.item(href="#avintro") Worlds from the Barony
              
          .ui.block
            .content
              a(href="/maps/viewmap.php?back=city&map=" + city.name) View the Large Map

          .ui.block
            .content
              a(href="/rollcall/list.html?city=" + city.name) See prominent active citizens

          .ui.block
            .content
              a(href="/world/")
                i.icon.left.triangle
                | Back to World