extends ../layout

block head
  - var title = mkTitle("The " + guild.title + " Guild", "Guilds")
  - var description = guild.info.outlook
  - var keywords = mkKeywords(guild.title + ", " + avalon.website.world.guild.keywords)
  - var canonical = "http://www.avalon-rpg.com/guilds/" + guild.name

block header
  .ui.header(style="background-image: url(/img/headers/" + guild.info.profession.toLowerCase() + ".png);")
    .logo-wrap
      h1.ui.title: a(href="/", id="top") The #{guild.title}

block content
  .ui.content.guild
    .contain
      .ui.grid.responsive
        .twelve.column.wide.main.breadcrumbed
          .ui.breadcrumb(style="padding: 5px;")
            .pagination.ui.menu(style="text-align:center;")
              a.primary.item(href="/world#guilds") Back to World
              for g in guild.guilds
                a(class={active: g == guild.title}, href="/guilds/" + g.toLowerCase()).item #{g}
          p.lead #{guild.info.outlook}
          p
            | Founded on the #{guild.info.founded} by 
            a(href="/rollcall/characters/" + guild.info.foundedby.toLowerCase(), title="Rollcall for " + guild.info.foundedby) #{guild.info.foundedby}, 
            |  the #{guild.title} are located in 
            a(href="#location") #{guild.info.location}
            | . They have the profession of #{guild.info.profession} and the guild alignment of #{guild.info.alignment}

          a(name="intro")
          h2.ui.title.overline Introduction
          != guild.get("intro")

          a(name="first")
          h2.ui.title.overline Words of 
            a(href="/rollcall/characters/" + guild.info.foundedby.toLowerCase(), title="Rollcall for " + guild.info.foundedby) #{guild.info.foundedby}
            | , first guildmaster
          != guild.get("firstwords")

          .ui.manual
            a(name="current")
            h2.ui.title.overline 
              a(href="/rollcall/characters/" + guild.info.guildmaster.toLowerCase(), title="Rollcall for " + guild.info.guildmaster) #{guild.info.guildmaster}
              | , current guildmaster says the following about the guild
            .text.help!= guild.help(guild.name)

          a(name="skills")
          h2.ui.title.overline.underline Guild specialist skills
          - var skills = guild.get("skills")
          for skill in skills
            h4.ui.title
              a(href="/help/pages/"+skill.title.toLowerCase(), title="The "+ skill.title + " skill") #{skill.title}
            p #{skill.description}

          a(name="location")
          h2.ui.title.overline Location
          != guild.get("location")

          hr
          .pagination.ui.menu(style="text-align:center;")
            a.primary.item(href="/world#guilds") Back to World
            for g in guild.guilds
              a(class={active: g == guild.title}, href="/guilds/" + g.toLowerCase()).item #{g}


        .four.column.wide.sidebar
          .ui.block.image
            .content
              img(src="/img/professions/"+guild.info.profession.toLowerCase()+".jpg").ui.image.fluid
          .ui.block
            .content
              .ui.menu.vertical
                a.item(href="#intro") Introduction
                a.item(href="#first") First Guildmaster's words
                a.item(href="#current") Current Guildmaster's words
                a.item(href="#skills") Professional Skills
                a.item(href="#location") Location
              
          .ui.block
            .content
              .ui.menu.vertical
                a.item(href="/rollcall/characters/" + guild.info.guildmaster.toLowerCase(), title="The Guildmaster") #{guild.info.guildmaster}
                if guild.info.patron
                  a.item(href="/rollcall/characters/" + guild.info.patron.toLowerCase(), title="The Patron") #{guild.info.patron}
                a.item(href="/rollcall/guilds/" + guild.name) Members
                a.item(href="/world/")
                  i.icon.left.triangle
                  | Back to World