extends ../layout

block head
  - var title = meta.seo.title
  - var description = meta.seo.description
  - var keywords = meta.seo.keywords
  link(rel="canonical", href="http://www.avalon-rpg.com/world/")

block content
  .ui.content.world
    .contain
      h1.ui.title.center.underline #{meta.title}
      p.lead #{meta.summary}
      

      mixin city(title, description)
        .column
          img(src="http://www.avalon-rpg.com/images/wingart/citythumbs/"+title.toLowerCase()+".jpg").left.floated.ui.image
          h4.ui.title: a(href="/cities/"+title.toLowerCase()) #{title}
          p #{description}

      .section.cities.box.ui
        a(name="cities")
        h2.ui.title.underline #{meta.cities.title}
        .ui.grid.responsive.two.columns
          for city in meta.cities.cities
            +city(city.title, city.description)
      

      mixin profession(title, guilds, description)
        .row
          h4.ui.title.underline
            | The #{title}
            ul.right.label.ui.menu
              for guild in guilds
                a.item(href="/guilds/" + guild.toLowerCase()) #{guild}
          img(src="http://www.avalon-rpg.com/images/wingart/profthumbs/" + title.toLowerCase() + ".gif").left.floated.ui.image
          p= description
         
      .section.guilds.box.ui
        a(name="guilds")
        h2.ui.title.underline #{meta.guilds.title}
        for prof in meta.guilds.professions
          +profession(prof.profession, prof.guilds, prof.description)



      mixin academy(name, title, description)
        .column
          h4.ui.title: a(href="/academies/"+name.toLowerCase()) #{title}
          p #{description}

      .section.academies.box.ui
        a(name="academies")
        h2.ui.title.underline #{meta.academies.title}
        .ui.grid.responsive.two.columns
          for aca in meta.academies.academies
            +academy(aca.name, aca.title, aca.description)


      mixin map(title, maps)
        h3.ui.title #{title}
        .ui.menu
          for map in maps
            a.item(href="http://www.avalon-rpg.com/maps/viewmap.php?map="+map.file) #{map.title}

      .section.academies.box.ui
        h2.ui.title.underline #{meta.maps.title}
        p #{meta.maps.description}
        for cat in meta.maps.categories
          +map(cat.title, cat.maps)