.ui.footer
  img(alt=avalon.website.alt.wax, title=avalon.website.alt.footer, src="/img/wax.png", style="position: absolute; right: 0px; top: 0px; height: 250px")
  .contain
    .ui.five.columns.grid.responsive
      for column in avalon.footer
        .column
          for section in column.rows
            h3.ui.title.underline #{section.content}
            ul.ui.inverted.vertical.menu
              for item in section.items
                li: a.item(href=item.url, title=item.title, target=item.target) !{item.content}
      .column
        h3.ui.title.underline Share
        ul.ui.inverted.vertical.menu.social-footer
          include share