mixin item(item)
  a.item(href=item.url, title=item.title, target=item.target, class=item.css) #{item.content}

nav#mobile-menu
  ul
    if avalon && avalon.menu
      for item in avalon.menu.left
        if item.items
          li
            a(href=item.url, title=item.title, target=item.target, class=item.css) #{item.content}
            ul
              if (item.url == "/help/")
                li
                  form(action="/help/search").helpform.inverted    
                    .ui.fluid.icon.input   
                      label HELP   
                      input(type="text", name="page", list="pages", placeholder="search...")   
                      i.search.icon.link(onclick="this.parentNode.parentNode.submit()")
              for subitem in item.items
                if subitem.items
                  li
                    a(href=subitem.url, title=subitem.title, target=subitem.target, class=subitem.css) #{subitem.content}
                    ul
                      for subsubitem in subitem.items
                        li
                          +item(subsubitem)
                else
                  li
                    +item(subitem)

        else
          li
            +item(item)
    else
      li
        +item({url: "/", content: "Avalon RPG"})
    if (avalon && avalon.users)
      if (avalon.users().length != 0)
        li(class="Spacer")
          a.item(href="/rollcall/#who") #{avalon.users().length} Players Online
    if avalon && avalon.menu
      for item in avalon.menu.right
        li
          +item(item)

#share-mobile
 include share-icons