mixin item(item)
  a(href=item.url, title=item.title, target=item.target, class=item.css) #{item.content}

nav#mp-menu.mp-menu
  .mp-level
    h2(class="icon icon-world") Menu
    ul
      if avalon && avalon.menu
        for item in avalon.menu.left
          if item.items
            li
              a(href=item.url, title=item.title, target=item.target, class=item.css)
                | #{item.content}
                i.icon.triangle.right
              .mp-level
                h2: a(href=item.url, title=item.title, target=item.target, class=item.css) #{item.content}
                a.mp-back(href="#")
                  i.icon.left.triangle
                  | Back
                if (item.url == "/help/")
                  form(action="/help/search").helpform.inverted
                    .ui.fluid.icon.input
                      label HELP
                      input(type="text", name="page", list="pages", placeholder="search...")
                      i.search.icon.link(onclick="this.parentNode.parentNode.submit()")
                ul
                  for subitem in item.items
                    if subitem.items
                      li
                        a(href=subitem.url, title=subitem.title, target=subitem.target, class=subitem.css)
                          | #{subitem.content}
                          i.icon.triangle.right
                        .mp-level
                          h2: a(href=subitem.url, title=subitem.title, target=subitem.target, class=subitem.css) #{subitem.content}
                          a.mp-back(href="#")
                            i.icon.left.triangle
                            | back
                          ul
                            for subsubitem in subitem.items
                              li
                                +item(subsubitem)
                    else
                      li
                        +item(subitem)

          else
            li
              +item(item)
      if (avalon && avalon.users)
        if (avalon.users().length != 0)
          li
            a.item(href="/rollcall/#who") #{avalon.users().length} Players Online
      if avalon && avalon.menu
        for item in avalon.menu.right
          li
            +item(item)
      li
        a(href="#") Share
        .mp-level
          h2 Share
          a.mp-back(href="#")
            i.icon.left.triangle
            | Back
          ul.ui.inverted.vertical.menu
            include share