mixin item(item)
  a(href=item.url, title=item.title, target=item.target, class=item.css) #{item.content}

.ui.topbar
  nav.ui.menu.contain.desktop
    ul.left.menu
      if avalon && avalon.menu
        for item in avalon.menu.left
          if item.items
            li.ui.dropdown.item
              a(href=item.url, title=item.title, target=item.target, class=item.css) #{item.content}
              i.icon.triangle.down
              ul.menu
                for subitem in item.items
                  if subitem.items
                    li.ui.dropdown.item
                      a(href=subitem.url, title=subitem.title, target=subitem.target, class=subitem.css) #{subitem.content}
                      i.icon.triangle.down
                      ul.menu
                        for subsubitem in subitem.items
                          if subsubitem.items
                            li.ui.dropdown.item
                              a(href=subsubitem.url, title=subsubitem.title, target=subsubitem.target, class=subsubitem.css) #{subsubitem.content}
                              i.icon.triangle.down
                              ul.menu
                                for subsubsubitems in subsubitem.items
                                  li.item
                                    +item(subsubsubitems)
                          else
                            li.item
                              +item(subsubitem)
                  else
                    li.item
                      +item(subitem)

          else
            li.item
              +item(item)
      else
        li.item
          +item({url: "/", content: "Avalon RPG"})

    ul.right.menu
      if (avalon && avalon.users)
        if (avalon.users().length != 0)
          li.item
            a(hr&ef="/rollcall/#who") #{avalon.users().length} Players Online
      if avalon && avalon.menu
        for item in avalon.menu.right
          li.item
            +item(item)

  nav.ui.menu.mobile.contain
    ul.left.menu
      li.item
        a(href="/") Avalon RPG
    ul.right.menu
      li.item
        a#open-sidebar(title="Open Menu", alt="Open Menu", href="#mobile-menu")
          i.icon.ellipsis.vertical.small
          | &ensp; Menu