mixin item(item)
  a.item(href=item.url, title=item.title, target=item.target, class=item.css) #{item.content}

.ui.topbar
  .ui.menu.very.tiny.contain.desktop
    .left.menu
      if avalon && avalon.menu
        for item in avalon.menu.left
          if item.items
            .ui.dropdown.item
              a(href=item.url, title=item.title, target=item.target, class=item.css) #{item.content}
              i.icon.triangle.down
              .menu
                for subitem in item.items
                  if subitem.items
                    .ui.dropdown.item
                      a(href=subitem.url, title=subitem.title, target=subitem.target, class=subitem.css) #{subitem.content}
                      i.icon.triangle.down
                      .menu
                        for subsubitem in subitem.items
                          +item(subsubitem)
                  else
                    +item(subitem)

          else
            +item(item)
      else
        +item({url: "/", content: "Avalon RPG"})

    .right.menu
      if (avalon && avalon.users)
        if (avalon.users().length != 0)
          a.item(href="/rollcall/#who") #{avalon.users().length} Players Online
      if avalon && avalon.menu
        for item in avalon.menu.right
          +item(item)

  .ui.menu.mobile.very.tiny.contain
    .left.menu
      a.item(href="/") Avalon RPG
      .ui.dropdown.item
        i.icon.triangle.down
        .menu
          if avalon && avalon.menu
            for item in avalon.menu.left
              if (item.url)
                +item(item)
            for item in avalon.menu.right
              if (item.url)
                +item(item)