extends ../layout

block head
  - var title = mkTitle(avalon.website.history.index.title)
  - var description = avalon.website.history.index.description
  - var keywords = mkKeywords(avalon.website.history.index.keywords)
  - var canonical = "http://www.avalon-rpg.com/history/"
block content
  .ui.content
    .contain
      h1.ui.title.center.underline #{meta.title}
      p.lead #{meta.description}

      .section.history.ui.box
        .ui.grid.responsive.two.columns
          for link in meta.links
            .column
              h4.ui.title: a(href=link.url) #{link.title}
              | #{link.description}

      .section.modern.box.ui
        h2.ui.title.underline #{meta.modern.title}
        .ui.grid.responsive.two.columns
          for item in meta.modern.items
            .column
              h4.ui.title: a(href=item.url) #{item.title}
              | #{item.description}

      .ui.box
        != extra.normal.html

      .ui.box
        != extra.bottom.html
