extends ../layout

block head
  - var title = meta.seo.title
  - var description = meta.seo.description
  - var keywords = meta.seo.keywords
  link(rel="canonical", href="http://www.avalon-rpg.com/history/")
block content
  .ui.content
    .contain
      h2.ui.title.center.underline #{meta.title}
      p.lead #{meta.description}

      .section.history.ui.box
        .ui.grid.responsive.two.columns
          for link in meta.links
            .column
              h4.ui.title: a(href=link.url) #{link.title}
              | #{link.description}

      .ui.box
        != extra.normal.html

      .ui.box
        != extra.bottom.html
