extends ../layout

block head
  if (avalon.website.history[page])
    - var title = mkTitle(avalon.website.history[page].title, "History")
    - var description = avalon.website.history[page].description
    - var keywords = mkKeywords(avalon.website.history[page].keywords)
block content
  .ui.content
    .contain
      h2.ui.title.center.underline #{meta.title}
      if meta.subtitle
        h4.sub.title.center.ui #{meta.subtitle}
      if meta.summary
        p #{meta.summary}
      .section.ancienthistory.ui.box
        .ui.grid.responsive.two.columns
          for link in meta.links
            .column
              h4.ui.title: a(href=link.url) #{link.title}
              | #{link.description}
      center.section
        a(href="/history") Return to History