extends ../layout

block head
  link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Roboto:300,400,600,900")
  if (avalon.website.history[page])
    - var title = mkTitle(avalon.website.history[page].title, "History")
    - var description = avalon.website.history[page].description
    - var keywords = mkKeywords(avalon.website.history[page].keywords)
block content
  .ui.content
    .contain
      h2.ui.title.center.underline #{meta.title}
      if meta.subtitle
        h4.sub.title.center.ui #{meta.subtitle}
      .section.timeline.ui.grid.mobile-responsive
        for item in meta.timeline
          .row(class={important: item.important, day: item.date, month: item.month, year: item.year, real: item.real})
            .date.column.four.wide
              if item.date
                .day #{item.date}
              if item.month
                .month #{item.month}
              if item.year
                .year #{item.year}
              if item.real
                .real #{item.real}
            .column.twelve.wide
              .content
                if item.title
                  h4.title #{item.title}
                | #{item.content}




      center.section
        a(href="/history") Return to History