extends ../layout

block head
  if (avalon.website.history[page])
    - var title = mkTitle(avalon.website.history[page].title, "History")
    - var description = avalon.website.history[page].description
    - var keywords = mkKeywords(avalon.website.history[page].keywords)
block content
  .ui.content
    .contain
      h2.ui.title.center.underline #{meta.title}
      if meta.subtitle
        h4.sub.title.center.ui #{meta.subtitle}
      section#timeline.ui.timeline
        for item in timeline
          if item.anchor
            a(id=item.anchor)
          .block(class={day: item.date, month: item.month, year: item.year, real: item.real}, class=item.color)
            .image(class=item.icon)
              if item.icon == "ordination"
                img(src="/img/timeline/ordination.svg", alt="ordination")
              else if item.icon == "banner"
                img(src="/img/timeline/banner.svg", alt="banner")
              else if item.icon == "crown"
                img(src="/img/timeline/prince.svg", alt="prince")
              else if item.icon == "war"
                img(src="/img/timeline/war.svg", alt="war")
              else if item.icon == "death"
                img(src="/img/timeline/death.svg", alt="death")
              else if item.icon == "handshake"
                img(src="/img/timeline/handshake.svg", alt="handshake")
              else if item.icon
                i.icon(class=item.icon)
              else
                if meta.default_icon
                  i.icon(class=meta.default_icon)
                else
                  i.icon.asterisk
            .content(class={background: item.image}, style=(item.image ? "background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7) ),url("+item.image+");" : ""))
              if item.title
                h2.title !{item.title}
              p !{item.content}
              if item.link
                a(href=item.link).read.more Read More

              span.date
                span #{item.date} #{item.month} #{item.year}
                .real #{item.real}

      center.section
        a(href="/history") Return to History