doctype html
html
  head
    include /includes/meta
    block head
    include /includes/css
    include /includes/seo
    include /includes/gtm
    include /includes/mixins
  body(class=body)
    .container
      block header
        .ui.header
          .logo-wrap
            a(href="/", id="top"): img.logo(src="/img/logo.png", alt=avalon.website.alt.header, title=avalon.website.alt.header)
      block content
      include /includes/footer
      include /includes/topbar
    include /includes/sidebar
    script(type="application/javascript").
      var meta = {
        title: '#{title}',
        description: '#{description}',
        keywords: '#{keywords}',
        url: '#{canonical}'
      };
    script(type="application/javascript", src="/js/jquery.min.js")
    script(type="application/javascript", src="/js/hammer.js")
    script(type="application/javascript", src="/js/menu.js")
    script(type="application/javascript", src="/js/main.js")
    block scripts