extends /layout

block head
  - var body = "index front-feature"
  - var title = mkTitle(meta.title, avalon.website.front.title)
  - var description = meta.subtitle + " - " + avalon.website.front.description
  - var keywords = mkKeywords(meta.keywords, avalon.website.front.keywords)
  - var canonical = "http://www.avalon-rpg.com/"

block header

block content
  .ui.feature(id="intro", class=extra.intro.meta.css, class={background: extra.intro.meta.image}, style=(extra.intro.meta.image ? "background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7) ),url("+extra.intro.meta.image+");" : ""))
    .contain
      .ui.grid.responsive
        .eight.column.wide
          a(href="/", id="top", style="text-align: center;display: block;")
            img.ui.image.maxed(src="/img/logo.png", width="400", alt=avalon.website.alt.header, title=avalon.website.alt.header)
          !{extra.intro.html}
        .eight.column.wide
          include /includes/multiform.jade


  for key in _.drop(Object.keys(extra), 2)
    - var item = extra[key]
    - var m = item.meta || {}
    .ui.feature(id=key, class=m.css, class={background: m.image}, style=(m.image ? "background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7) ),url("+m.image+");" : ""))
      .contain.large
        if m.title
          h2.title !{m.title}
        .content !{item.html}
        if m.link
          a(href=m.link).read.more Read More


  .ui.content
    .contain.large

      .ui.three.columns.grid.responsive.contain.large
        .column
          h2.ui.title.underline #{meta.information.title}
          ul.ui.menu
            for item in meta.information.items
              li: a(href=item.url).item #{item.title}
        .column
          h2.ui.title.underline #{meta.search.title}
          form(action="/help/search").helpform
            .ui.fluid.icon.input
              label HELP
              input(type="text", name="page", list="pages", placeholder="search...")
              i.search.icon.link(onclick="this.parentNode.parentNode.submit()")
          form(action="/rollcall/search").historyform
            .ui.fluid.icon.input
              label HISTORY
              input(type="text", name="character", placeholder="search...")
              i.search.icon.link(onclick="this.parentNode.parentNode.submit()")
                
        .column
          h2.ui.title.underline #{meta.links.title}
          ul.ui.menu.social
            for item in meta.links.items
              if item.social
                a(href=item.url, class="item social " + item.social, title=item.title)
                  i.icon.large(class=item.social)
                  | #{item.title}

      .ui.two.columns.grid.responsive.contain.large.text-margin-bottom
        .column
          .content.active(data-id="recent")
            h2.ui.title.underline Latest Appointments
            if recent
              table.ui.table
                thead
                  tr
                    th Date
                    th Appointment
                tbody
                  for update in recent.splice(0, meta.events.max)
                    tr
                      td(width="20%") #{update.date}
                      td #{update.item}

        .column
          .content.ui.markdown(data-id="events")
            h2.ui.title.underline Forthcoming Events
            table.ui.table
              thead
                tr
                  th Date
                  th Event
              tbody
                for update,key in events
                  for event in update
                    tr
                      td(width="20%") !{key}
                      td !{event}
            .text.help !{scheduleHelp}

block scripts
  script(src="/js/jquery.validate.min.js")
  script(src="/js/login.js")
  script(src="/js/scroller.js")
  script(src="/js/front.js")
  script(src="/js/jquery.table.js")
  script(src="/js/affairs.js")
  script(src="/js/reveal.js")