extends ../layout

block head
  - var title = mkTitle(avalon.website.help.index.title)
  - var description = avalon.website.help.index.description
  - var keywords = mkKeywords(avalon.website.help.index.keywords)
  - var canonical = "http://www.avalon-rpg.com/help/"
    
block content
  .ui.content
    .contain
      h1.ui.title.center.underline #{meta.title}

      .ui.grid.responsive
        .twelve.column.wide.main
          p.lead !{meta.summary}

          h4.ui.title.expand.all
            i.icon.triangle.down
            span.text Expand All Sections
          .help.index
            for section in sections
              .help.section(id="section-"+section.id)
                h2.ui.title.underline
                  | #{section.id} - 
                  a(href="/help/sections/" + section.id) #{section.title}
                  .right.label.expand(data-id=section.id): i.icon.triangle.down
                p.lead #{section.hint}

                table.ui.table.hidden(data-id=section.id)
                  tbody
                    for page in section.pages
                      tr
                        td #{page.id}
                        td: a(href="/help/pages/" + page.title.toLowerCase()) #{page.title}
                        td #{page.description}

        .four.column.wide.sidebar
          .ui.block
            .content
              p #{meta.search}
              form(action="/help/search").helpform
                .ui.fluid.icon.input
                  label HELP
                  input(type="text", name="page", list="pages")
                  i.search.icon
          .ui.block.help.downloads
            .content
              h2.ui.title.underline #{meta.downloads.title}
              p #{meta.downloads.description}
              .ui.menu.vertical
                for item in meta.downloads.links
                  a(target="_blank", href=item.file).item
                    i.icon.file
                    | #{item.text}
          .ui.block.help.downloads
            .content
              h2.ui.title.underline #{meta.maps.title}
              p !{meta.maps.description}


block scripts
  datalist#pages
    for section in sections
      for page in section.pages
        option(value=page.title)
  script(src="/js/help.js")