extends ../layout

block head
  - var title = "Online Rpg. Avalon- The Legend Lives - Help and manual section"
  - var description = "Avalon - Online RPG. The home of Avalon, text based game, premier multiplayer roleplaying world. Windows and Java clients. The most complex, atmospheric RPG on the net."
  - var keywords = "RPG, text, based, Roleplaying, Games, RPGS, MUDs, Interactive, Multiplayer, Multiuser, Avalon, Fantasy, Magic, Adventure, Java, Telnet, Online, Knight, Sorcerer, Sorcery, Poisons, Potions, Mage, Mystic, Thief, Guild, Bard, Battle, Army, Strategy"
  link(rel="canonical", href="http://www.avalon-rpg.com/help/")
block content
  .ui.content
    .contain
      h1.ui.title.center.underline The Manual of Avalon

      .ui.grid.responsive
        .twelve.column.wide.main
          p.lead This is the full, comprehensive Avalon manual. If you are new to Avalon, we recommend you tackle the <a href="/intro/">Introduction</a> first. The manual here contains everything a player needs to know about Avalon. <!--The number in brackets after the section title denotes number of sub-section entries.-->Enjoy!

          h4.ui.title.expand.all
            i.icon.triangle.down
            span.text Expand All Sections
          .help.index
            for section in sections
              .help.section(id="section-"+section.id)
                h2.ui.title.underline
                  | #{section.id} - 
                  a(href="/help/sections/" + section.id) #{section.title}
                  .right.label.expand(data-id=section.id): i.icon.triangle.down
                p.lead #{section.hint}

                table.ui.table.hidden(data-id=section.id)
                  tbody
                    for page in section.pages
                      tr
                        td #{page.id}
                        td: a(href="/help/pages/" + page.title.toLowerCase()) #{page.title}
                        td #{page.description}

        .four.column.wide.sidebar
          .ui.block
            .content
              p You may also look at a specific help page by typing its name below:
              form(action="/help/search")
                p HELP 
                  input(type="text" name="page" size="10", list="pages")
                  input(type="submit" value="Go")
          .ui.block.help.downloads
            .content
              h2.ui.title.underline Downloads
              p It is also possible to download the entire manual as:
              .ui.menu.vertical
                a(target="_blank", href="/help/downloads/avman2h.htm").item
                  i.icon.file
                  | HTML
                a(target="_blank", href="/help/downloads/avman2h.zip").item
                  i.icon.file
                  | HTML (Zipped)
                a(target="_blank", href="/help/downloads/avman2w.doc").item
                  i.icon.file
                  | Word Document
                a(target="_blank", href="/help/downloads/avman2w.zip").item
                  i.icon.file
                  | Word Document (Zipped)
          .ui.block.help.downloads
            .content
              h2.ui.title.underline Maps
              p There are also several <a href="/maps/">maps of Avalon</a> available.


block scripts
  datalist#pages
    for section in sections
      for page in section.pages
        option(value=page.title)
  script.
    $(".help.index .expand").bind("click", function() {
      var id = $(this).data("id");
      var table = $("#section-"+id+" .ui.table");
      if (table.is(":visible")) table.hide("fast");
      else table.show("fast");
      $(this).find(".icon").toggleClass("active");
    });

    var expandAll = false;
    $(".expand.all").bind("click", function() {
      var table = $(".help.index .ui.table");
      if (expandAll === false) {
        table.show("fast");
        $(".help.section .icon").addClass("active");
        expandAll = true;
        $(".expand.all .text").text("Compress All Sections")
      } else {
        table.hide("fast");
        $(".help.section .icon").removeClass("active");
        expandAll = false;
        $(".expand.all .text").text("Expand All Sections")
      }
    });