extends ../layout

block head
  - var title = "Online Rpg. Avalon- The Legend Lives - Help and manual section"
  - var description = "Avalon - Online RPG. The home of Avalon, text based game, premier multiplayer roleplaying world. Windows and Java clients. The most complex, atmospheric RPG on the net."
  - var keywords = "RPG, text, based, Roleplaying, Games, RPGS, MUDs, Interactive, Multiplayer, Multiuser, Avalon, Fantasy, Magic, Adventure, Java, Telnet, Online, Knight, Sorcerer, Sorcery, Poisons, Potions, Mage, Mystic, Thief, Guild, Bard, Battle, Army, Strategy"

block content
  .ui.content
    .contain
      h1.ui.title.center.underline The Manual of Avalon

      .ui.grid.responsive
        .ten.column.wide
          p.lead This is the full, comprehensive Avalon manual. If you are new to Avalon, we recommend you tackle the <a href="/intro/">Introduction</a> first. The manual here contains everything a player needs to know about Avalon. <!--The number in brackets after the section title denotes number of sub-section entries.-->Enjoy!
          p There are also several <a href="/maps/">maps of Avalon</a> available.
        .six.column.wide
          .ui.box.blue.compact
            p You may also look at a specific help page by typing its name below:
            form(action="/help/search")
              p HELP 
                input(type="text" name="page" size="30", list="pages")
                input(type="submit" value="Go")

      for section in sections
        h2.ui.title.underline
          | #{section.id} - 
          a(href="/help/sections/" + section.id) #{section.title}
        p.lead #{section.hint}
        //- ul.ui.menu.vertical.simple
        //-   for pagelink in section.pages
        //-     li
        //-       a(href="/help/pages/" + pagelink.title.toLowerCase(), title=pagelink.description).item
        //-         | #{pagelink.id} - 
        //-         b #{pagelink.title}
        //-         | - #{pagelink.description}
        table.ui.table
          tbody
            for page in section.pages
              tr
                td #{page.id}
                td: a(href="/help/pages/" + page.title.toLowerCase()) #{page.title}
                td #{page.description}

block scripts
  datalist#pages
    for section in sections
      for page in section.pages
        option(value=page.title)