extends ../layout

block head
  if (page.content.library && page.content.library.meta && page.content.library.meta.title)
    - var title = mkTitle(page.content.library.meta.title, avalon.website.help.index.title)
  else
    - var title = mkTitle(page.description, avalon.website.help.index.title)

  if (page.content.library && page.content.library.meta && page.content.library.meta.summary)
    - var description = page.content.library.meta.summary
  else
    - var description = page.summary

  if (page.content.library && page.content.library.meta && page.content.library.meta.keywords)
    - var keywords = mkKeywords(page.content.library.meta.keywords.toString())
  else
    - var keywords = mkKeywords(page.keywords)
  - var canonical = "http://www.avalon-rpg.com/help/pages/" + page.title.toLowerCase()
block content
  .ui.content.manual
    .contain
      .ui.grid.responsive
        .column.twelve.wide.main
          .bread
            a(href="/help/") Help
            if (section)
              i.icon.angle.right
              a(href="/help/sections/" + page.section) Section #{page.section}
            i.icon.angle.right
            b #{page.id} #{page.title}
          if (page.content.library && page.content.library.meta && page.content.library.meta.title)
            h1.ui.title.center.underline #{page.content.library.meta.title}
          else
            h1.ui.title.center.underline #{page.description}
          if (page.content.library)
            .text.help.markdown !{page.content.library.html}
            if (page.content.library.advanced)
              .ui.box
                h3.ui.title Advanced
                != page.content.library.advanced.html
            if (page.content.library.meta && (page.content.library.meta.commands || page.content.library.meta.refs))
              .ui.box
                if (page.content.library.meta.commands)
                  h4.ui.title Commands
                  ul.ui.menu.simple
                    for command in page.content.library.meta.commands
                     .item #{command}
                if (page.content.library.meta.refs)
                  h4.ui.title References
                  ul.ui.menu.simple
                    for ref in page.content.library.meta.refs
                     .item #{ref}
              
          else
            .text.help !{page.html}

        
        .four.wide.column.sidebar
          if (page.content.library && page.content.library.meta && page.content.library.meta.rel)
            ui.block
              .content
                if (section)
                  h3.ui.title.center.underline #{section.id} - #{section.title}
                  ul.ui.menu.vertical
                    li: a(href="/help/").item
                      i.icon.triangle.left
                      | Back to Index
                    li.ui.dropdown.item
                      i.icon.triangle.down
                      | #{page.id} - 
                      b #{page.title}
                      .menu.limited
                        for pagelink in section.pages
                          if (pagelink.id == page.id)
                            .active.item
                              | #{pagelink.id} - 
                              b #{pagelink.title}
                          else
                            a(href="/help/pages/" + pagelink.title.toLowerCase(), title=pagelink.description).item
                              | #{pagelink.id} - 
                              b #{pagelink.title}
          else
            .ui.block
              .content
                if (section)
                  h3.ui.title.center.underline #{section.id} - #{section.title}
                  ul.ui.menu.vertical
                    li: a(href="/help/").item
                      i.icon.triangle.left
                      | Back to Index
                    for pagelink in section.pages
                      li
                        if (pagelink.id == page.id)
                          .active.item
                            | #{pagelink.id} - 
                            b #{pagelink.title}
                        else
                          a(href="/help/pages/" + pagelink.title.toLowerCase(), title=pagelink.description).item
                            | #{pagelink.id} - 
                            b #{pagelink.title}
          if (page.content.library && page.content.library.meta && page.content.library.meta.rel)
            .ui.block
              .content
                h3.ui.title.center.underline Related Articles
                ui.ui.menu.vertical
                  for pagelink in page.content.library.meta.rel
                    li
                      a(href="/help/pages/" + pagelink.toLowerCase()).item #{pagelink}
          //- if (page.content.library && page.content.library.meta && page.content.library.meta.keywords)
          //-   .ui.block
          //-     .content
          //-       h3.ui.title.center.underline Keywords
          //-       ui.ui.menu.vertical
          //-         for keyword in page.content.library.meta.keywords
          //-           li
          //-             a(href="/help/keywords/" + keyword.toLowerCase()).item #{keyword}

       