extends ../layout

block head
  - var title = page.description + " - Avalon - multiplayer game world - Help and manual section"
  - var description = false
  link(rel="canonical", href="http://www.avalon-rpg.com/help/pages/" + page.title.toLowerCase())
block content
  .ui.content.manual
    .contain
      
      .ui.grid.responsive
        .column.twelve.wide.main
          .bread
            a(href="/help/") Help
            i.icon.angle.right
            a(href="/help/sections/" + page.section) Section #{page.section}
            i.icon.angle.right
            b #{page.id} #{page.title}
          h1.ui.title.center.underline #{page.description}
          if (page.library)
            .text.help.markdown !{page.library.html}
          else
            .text.help !{page.html}
            


        .four.wide.column.sidebar
          .ui.block
            .content
              h3.ui.title.center.underline #{section.id} - #{section.title}
              ul.ui.menu.vertical
                li: a(href="/help/").item
                  i.icon.triangle.left
                  | Back to Index
                for pagelink in section.pages
                  li
                    if (pagelink.id == page.id)
                      .active.item
                        | #{pagelink.id} - 
                        b #{pagelink.title}
                    else
                      a(href="/help/pages/" + pagelink.title.toLowerCase(), title=pagelink.description).item
                        | #{pagelink.id} - 
                        b #{pagelink.title}
      center: a(href="/help/sections/" + page.section) Back to Section Index