extends ../layout

block head
  - var title = mkTitle(section.title, avalon.website.help.index.title)
  if avalon.website.help[section.id]
    - var description = avalon.website.help[section.id].description
  - var canonical = "http://www.avalon-rpg.com/help/sections/" + section.id

block content
  .ui.content.manual
    .contain
      h1.ui.title.center Section #{section.id} - #{section.title}
      h4.ui.title.center #{section.hint}
      br
    .contain
      .ui.box
        .pagination.ui.menu(style="text-align:center;")
          a.primary.item(href="/help/") Back to Index
          if prevSection
            a(href="/help/sections/" + prevSection.id).item
              | #{prevSection.id} - #{prevSection.title}
            i.item.primary.icon.triangle.left
          .item.primary Section #{section.id}
          if nextSection
            i.item.primary.icon.triangle.right
            a(href="/help/sections/" + nextSection.id).item
              | #{nextSection.id} - #{nextSection.title}
        .ui.steps.horzcentre
          a.step(href="/help/")
            .content
              .title Index
              .description Back to Index
          if prevSection
            a.step(href="/help/sections/" + prevSection.id)
              .content
                .title Prev
                .description #{prevSection.id}. #{prevSection.title}
          .active.step
            .content
              .title Section #{section.id}
              .description #{section.title}
          if nextSection
            a.step(href="/help/sections/" + nextSection.id)
              .content
                .title Next
                .description #{nextSection.id}. #{nextSection.title}
        br
        table.ui.table
          tbody
            for page in section.pages
              tr
                td #{page.id}
                td: a(href="/help/pages/" + page.title.toLowerCase()) #{page.title}
                td #{page.description}

        hr
        .pagination.ui.menu(style="text-align:center;")
          a.primary.item(href="/help/") Back to Index
          if prevSection
            a(href="/help/sections/"+prevSection.id).item
              | #{prevSection.id} - #{prevSection.title}
            i.item.primary.icon.triangle.left
          .item.primary Section #{section.id}
          if nextSection
            i.item.primary.icon.triangle.right
            a(href="/help/sections/"+nextSection.id).item
              | #{nextSection.id} - #{nextSection.title}

