extends ../layout

block head
  - var title = section.title + " - Avalon - multiplayer game world - Help and manual section"
  - var description = false
  link(rel="canonical", href="http://www.avalon-rpg.com/help/sections/" + section.id)
block content
  .ui.content
    .contain
      .bread
        a(href="/help/") Help
        |  &gt; 
        b Section #{section.id}
      h1.ui.title.center Section #{section.id} - #{section.title}
      ul.ui.menu.vertical.simple
        for page in section.pages
          li
            a(href="/help/pages/" + page.title.toLowerCase()).item
              | #{page.id} - 
              b #{page.title}
              br
              span.small #{page.description}
      center: a(href="/help/") Back to Index