extends /layout

block head
  if meta
    if cat
      - var title = mkTitle(meta.title, cat.content)
    else
      - var title = mkTitle(meta.title)
    - var description = meta.summary
    - var keywords =  mkKeywords(meta.keywords.toString().toLowerCase())
    - var canonical = "http://www.avalon-rpg.com" + page.url

block header
  mixin feature(key)
    - var item = extra[key]
    - var m = item.meta || {}
    .ui.feature(id=key, class=m.css, class={background: m.image}, style=(m.image ? "background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7) ),url("+m.image+");" : ""))
      .contain
        if m.title
          h2.title !{m.title}
        .content !{item.html}
        if m.link
          a(href=m.link).read.more Read More


block content
  if Object.keys(extra).length > 1
    if extra.intro
      .ui.feature(id="intro", class=extra.intro.meta.css, class={background: extra.intro.meta.image}, style=(extra.intro.meta.image ? "background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7) ),url("+extra.intro.meta.image+");" : ""))
        .contain
          a(href="/", id="top", style="text-align: center;display: block;")
            img.ui.image.maxed(src="/img/logo.png", width="400", alt=avalon.website.alt.header, title=avalon.website.alt.header)
          !{extra.intro.html}

      for key in _.drop(Object.keys(extra), 2)
        +feature(key)
    else

      for key in _.drop(Object.keys(extra), 1)
        +feature(key)

  else
    if extra.normal
      .ui.feature
        .contain
          a(href="/", id="top", style="text-align: center;display: block;")
            img.ui.image.maxed(src="/img/logo.png", width="400", alt=avalon.website.alt.header, title=avalon.website.alt.header)
          !{extra.normal.html}
    else
      for key in Object.keys(extra)
        +feature(key)

  .ui.feature.spacing-small
    .contain
      nav.ui.menu.vertical
        .item.head
          a(href=prefix) #{cat.content}
        .menu
          for sub in cat.items
            if (sub.content == page.content)
              a(href=prefix + sub.url).item.active #{sub.content}
            else
              a(href=prefix + sub.url).item #{sub.content}

block scripts
  script(src="/js/accordion.js")
  script(src="/js/reveal.js")