extends /layout

block head
  if meta
    if cat
      - var title = mkTitle(meta.title, cat.content)
    else
      - var title = mkTitle(meta.title)
    - var description = meta.summary
    - var keywords =  mkKeywords(meta.keywords.toString().toLowerCase())
    - var canonical = "http://www.avalon-rpg.com" + prefix + page.url

block header
  mixin feature(key)
    - var item = extra[key]
    - var m = item.meta || {}
    .ui.feature(id=key, class=m.css, class={background: m.image})
      if m.image
        +background-gradient-image(key, m.image)
      .contain
        if m.title
          h2.title !{m.title}
        .content !{item.html}
        if m.link
          a(href=m.link).read.more Read More


block content
  if Object.keys(extra).length > 1
    if extra.intro
      - if (extra.intro.meta == null) extra.intro.meta = {}
      .ui.feature(id="intro", class=extra.intro.meta.css, class={background: extra.intro.meta.image})
        if extra.intro.meta.image
          +background-gradient-image("intro", extra.intro.meta.image)
        .contain
          if extra.intro.meta.login
            .ui.grid.responsive
              .eight.column.wide
                a(href="/", id="top", style="text-align: center;display: block;")
                  img.ui.image.maxed(src="/img/logo.png", width="400", alt=avalon.website.alt.header, title=avalon.website.alt.header)
                | !{extra.intro.html}
              .eight.column.wide
                include /includes/multiform.jade
          else
            a(href="/", id="top", style="text-align: center;display: block;")
              img.ui.image.maxed(src="/img/logo.png", width="400", alt=avalon.website.alt.header, title=avalon.website.alt.header)
            | !{extra.intro.html}

      for key in _.drop(Object.keys(extra), 2)
        +feature(key)
    else
      for key in _.drop(Object.keys(extra), 1)
        +feature(key)

  else
    if extra.normal
      .ui.feature
        .contain
          a(href="/", id="top", style="text-align: center;display: block;")
            img.ui.image.maxed(src="/img/logo.png", width="400", alt=avalon.website.alt.header, title=avalon.website.alt.header)
          h1.ui.title.underline #{meta.title}
          | !{extra.normal.html}
    else
      for key in Object.keys(extra)
        +feature(key)


  .text-center.ui.feature
    .pagination.ui.menu(style="text-align:center;")
      a.primary.item(href=prefix) Back to Index
      if previous
        a(href=prefix + previous.url).item
          i.icon.left.triangle
          | #{previous.content}
      .item.primary #{page.content}
      if next
        a(href=prefix + next.url).item
          | #{next.content}
          i.icon.right.triangle
      include ../includes/share-icons

  .ui.feature
    .contain
      nav.ui.menu.vertical
        .item.head
          a(href=prefix) #{cat.content}
        .menu
          for sub in cat.items
            if (sub.content == page.content)
              a(href=prefix + sub.url).item.active #{sub.content}
            else
              a(href=prefix + sub.url).item #{sub.content}

  .contain
    include ../includes/disqus

block scripts
  script(src="/js/jquery.validate.min.js")
  script(src="/js/accordion.js")
  script(src="/js/reveal.js")
  script(src="/js/login.js")