extends ../layout

block head
  - var title = mkTitle(avalon.website.intro.index.title)
  - var description = avalon.website.intro.index.description
  - var keywords = mkKeywords(avalon.website.intro.index.keywords)
  - var canonical = "http://www.avalon-rpg.com/intro/"

block content
  .ui.content.intro
    .contain

      .ui.grid.responsive
        .twelve.column.wide.main
          h1.ui.title.center.underline #{meta.title}
          p.lead !{meta.summary}
          .text.help.markdown !{extra.normal.html}
          
        .four.column.wide.sidebar
          .ui.block
            .content
              nav.ui.menu.vertical.reveal
                for item in toc
                  .item.head(data-expand=item.short)
                    i.icon.angle.down
                    | #{item.content}
                  .menu(data-expand=item.short)
                    for sub in item.items
                      a(href="/intro" + sub.url).item #{sub.content}

block scripts
  script(src="/js/reveal.js")