extends ../layout

block head
  - var title = meta.seo.title
  - var description = meta.seo.description
  - var keywords =  meta.seo.keywords
  - var canonical = "http://www.avalon-rpg.com/intro/" + page.url

block content
  .ui.content.intro
    .contain

      .ui.grid.responsive
        .twelve.column.wide.main
          h1.ui.title.center.underline #{meta.title}
          .text.help.markdown !{extra.normal.html}

        .four.column.wide.sidebar
          .ui.block
            .content
              nav.ui.menu.vertical
                for item in toc
                  if (item.short == cat.short)
                    a(href="/intro" + item.items[0].url).item.head.active
                      i.icon.angle.down
                      | #{item.content}
                    .menu
                      for sub in item.items
                        if (sub.content == page.content)
                          a(href="/intro" + sub.url).item.active #{sub.content}
                        else
                          a(href="/intro" + sub.url).item #{sub.content}
                  else
                    a(href="/intro" + item.items[0].url).item.head
                      i.icon.angle.right
                      |  #{item.content}