extends ../layout

block head
  - var title = meta.title
  - var description = meta.summary
  - var keywords =  meta.keywords.toString()
  link(rel="canonical", href="http://www.avalon-rpg.com/intro/" + page.url)

block content
  .ui.content.intro
    .contain

      .ui.grid.responsive
        .twelve.column.wide.main
          h1.ui.title.center.underline #{meta.title}
          p.lead !{meta.summary}
          .text.help.markdown !{extra.normal.html}

        .four.column.wide.sidebar
          .ui.block
            .content
              .ui.menu.vertical.dotted
                for item in toc
                  if (item.short == cat.short)
                    a(href="/intro" + item.items[0].url).item.head
                      i.icon.circle
                      |  #{item.content}
                    .menu
                      for sub in item.items
                        if (sub.content == page.content)
                          a(href="/intro" + sub.url).item.active #{sub.content}
                        else
                          a(href="/intro" + sub.url).item #{sub.content}
                  else
                    a(href="/intro" + item.items[0].url).item.head
                      i.icon.circle.blank
                      |  #{item.content}