extends ../layout

block head
  - var title = meta.title
  - var description = meta.summary
  - var keywords =  meta.keywords.toString()
  - var canonical = "http://www.avalon-rpg.com/intro/" + page.url

block content
  .ui.content.intro
    .contain
      .ui.grid.responsive
        .twelve.column.wide.main
          h1.ui.title.center.underline #{meta.title}
          p.lead !{meta.summary}
          .text.help.markdown !{extra.normal.html}
          if (extra.advanced)
            .ui.box
              h3.ui.title Advanced
              != extra.advanced.html
          if (meta.commands || meta.refs)
            .ui.box
              if (meta.commands)
                h4.ui.title Commands
                ul.ui.menu.simple
                  for command in meta.commands
                   .item #{command}
              if (meta.refs)
                h4.ui.title More information
                ul.ui.menu.simple
                  for ref in meta.refs
                    a.item(href="/help/pages/"+ref.toLowerCase(), target="_blank") #{ref}
               if (meta.rel || meta.related)
                h4.ui.title Related Articles
                ul.ui.menu.simple
                  if meta.rel
                    for ref in meta.rel
                     a.item(href="/help/pages/"+ref.toLowerCase(), target="_blank") #{ref}
                  if meta.related
                    for ref in meta.related
                     a.item(href="/help/pages/"+ref.toLowerCase(), target="_blank") #{ref}

        .four.column.wide.sidebar
          .ui.block
            .content
              nav.ui.menu.vertical
                for item in toc
                  if (item.short == cat.short)
                    a(href="/intro" + item.items[0].url).item.head.active
                      i.icon.angle.down
                      | #{item.content}
                    .menu
                      for sub in item.items
                        if (sub.content == page.content)
                          a(href="/intro" + sub.url).item.active #{sub.content}
                        else
                          a(href="/intro" + sub.url).item #{sub.content}
                  else
                    a(href="/intro" + item.items[0].url).item.head
                      i.icon.angle.right
                      |  #{item.content}