extends ../layout

block head
  - var title = mkTitle(avalon.website.rollcall.index.title)
  - var description = avalon.website.rollcall.index.description
  - var keywords = mkKeywords(avalon.website.rollcall.index.keywords)
  - var canonical = "http://www.avalon-rpg.com/rollcall/"

block content
  .ui.content.rollcall
    .contain
      h2.ui.title.center.underline #{meta.title}
      p.lead: center #{meta.summary}

      .ui.box
        .ui.grid.responsive.three.columns
          for link in meta.links
            .column
              h4.ui.title: a(href=link.url) #{link.title}
              | #{link.description}
          .column
            h4.ui.title #{meta.search}
            form(action="/rollcall/search").historyform
              .ui.fluid.icon.input
                label HISTORY
                input(type="text", name="character", list="characters")
                i.search.icon

      .cities.box.ui
        a(name="cities")
        h2.ui.title.underline #{meta.cities.title}
        .ui.menu
          for city in meta.cities.cities
            a.item(href="/rollcall/cities/"+city.toLowerCase()) #{city}
                    
               
      .guilds.box.ui
        a(name="guilds")
        h2.ui.title.underline #{meta.guilds.title}
        .ui.menu
          for guild in meta.guilds.guilds
            a.item(href="/rollcall/guilds/"+guild.toLowerCase()) #{guild}
      
      .order.box.ui
        a(name="orders")
        h2.ui.title.underline #{meta.orders.title}
        .ui.menu
          for order in meta.orders.orders
            a.item(href="/rollcall/orders/"+order.toLowerCase()) #{order}

      .online.box.ui
        a(name="who")
        h2.ui.title.underline Who
        table.ui.table
          thead
            tr
              th Name
          tbody
            for user,i in avalon.users()
              tr
                td #{user}

block scripts
  datalist#characters
    for char in characters
      option(value=char.name)