extends ../layout

block head
  - var title = mkTitle(map.title, avalon.website.maps.index.title)
  if map.description
    - var description = map.description
  else
    - var description = avalon.website.maps.index.description
  - var keywords = mkKeywords(map.title.split(" ").join(", ").toLowerCase() + ", " + avalon.website.maps.index.keywords)
  - var canonical = "http://www.avalon-rpg.com/maps/" + map.url
block content
  .ui.content.maps
    .contain.large
      .ui.grid.responsive
        .thirteen.column.wide.main.breadcrumbed
          .ui.breadcrumb
            a(href="/maps/") Maps
            i.icon.angle.right
            b  #{map.title}
          .image-wrap
            a(href="/img/maps/"+map.file, title=map.description)
              img(alt=map.description, src="/img/maps/" + map.file, class={fluid: map.full == true}).ui.image.maxed


        .three.column.wide.sidebar
          for section in meta.maps
            .ui.block
              .content
                h4.ui.title #{section.title}
                ul.ui.menu.vertical
                  for item in section.maps
                    a.item(href="/maps/" + item.url, class={active: item.url === map.url}) #{item.title}