extends ../layout

block head
  - var title = mkTitle(avalon.website.news.title)
  - var description = avalon.website.news.description
  - var keywords = mkKeywords(avalon.website.news.keywords)
  - var canonical = "http://www.avalon-rpg.com/news/"
  - var body = "news"
  link(rel="stylesheet" href="/css/feed.css")

mixin panel(id, title, background)
  - var sectionid = id + "-section";
  .ui.feature.feature-double.spacing-small.background(id=sectionid)
    if background
      +background-gradient-image(sectionid, background)
    .contain.large
      a(id=id)
      h2.title= title
      .ui.content
        block

mixin strip(id, background)
  .ui.feature.spacing-small.background(id=id)
    if background
      +background-gradient-image(id, background)
    .contain.large
      .ui.content
        block

block content

  +panel("digest", "Digest", "/img/headers/loremaster.png")

    .ui.responsive.grid
      .sixteen.column.wide.main
        p Click on a digest type below to toggle visibility
        p Click on a link to highlight matching entries
        p
          = "Click "
          i.ui.icon.external
          | against a link to go to the rollcall/help page
        br

        .ui.responsive.grid.four.columns
          for type in digest.types.reverse()
            .clickable.column.typetoggle(
              data-type = type
            )
              i.ui.icon.unhide(class="vis-icon-"+type)
              = type
    br
    table.ui.table#digestTable
      thead
        tr
          th Type
          th Date
          th Event
      tbody
        for entry in digest.entries.reverse()
          - var entrycss = "type-"+entry.type;
          if(entry.linkHashes.length > 0)
            - entrycss = entrycss + " link-" + entry.linkHashes.join(" link-");
          tr.entry(class = entrycss)
            td.nowrap= entry.type
            td.nowrap
              = entry.avDate
              br
              = entry.gmtDateTime.calendar()
            td!= entry.description


block scripts
  script(src="/js/jquery.table.js")
  script(src="/js/digest.js")

