extends ../layout

block head
  - var title = mkTitle(avalon.website.news.title)
  - var description = avalon.website.news.description
  - var keywords = mkKeywords(avalon.website.news.keywords)
  - var canonical = "http://www.avalon-rpg.com/news/"
  - var body = "news"
block content
  .ui.content.news
    .contain
      h1.ui.title.center.underline #{meta.title}
      p.lead #{meta.summary}
      
      .section.bulletin.boards.box.ui
        h2.ui.title.underline #{meta.bulletin.title}
        .ui.grid.responsive.two.columns
          for item in meta.bulletin.items
            .column
              h4.ui.title: a(href=item.url) #{item.title}
              | #{item.description}

      .section.affairs.box.ui
        h2.ui.title.underline #{meta.affairs.title}
        .ui.grid.responsive.two.columns
          for item in meta.affairs.items
            .column
              h4.ui.title: a(href=item.url) #{item.title}
              | #{item.description}

      if recent
        .recent.section.ui.box
          a(id="appointments")
          h2.ui.title.underline Latest Appointments
          table.ui.table
            thead
              tr
                th Date
                th Appointment
            tbody
              for update in recent
                tr
                  td(width="20%") #{update.date}
                  td #{update.item}

      .section.box.ui
        a(id="events")
        h2.ui.title.underline Forthcoming Events
        table.ui.table
          thead
            tr
              th Date
              th Event
          tbody
            for update, key in events
              tr
                td(width="20%") !{key}
                td !{update}
        .text.help !{scheduleHelp}

      .section.military.affairs.box.ui
        a(id="affairs")
        h2.ui.title.underline #{meta.military.title}
        table.ui.sortable.selectable.revealable.table#militaryTable
          thead
            tr
              th(data-sort="string") Village
              th(data-sort="string") City
              th(data-sort="string") Conflict
              th(data-sort="string") Occupied
              th(data-sort="int") Troops
              th(data-sort="int") Legions
          tbody
            for affair,i in affairs
              tr(data-id=i, class={expand: affair.legionsByCommand && affair.legionsByCommand.length > 1})
                td
                  if affair.legionsByCommand && affair.legionsByCommand.length > 1
                    i.icon.angle.down
                  | #{affair.village}
                td #{affair.city}
                td #{affair.conflict}
                td #{affair.occupied}
                if affair.legionsByCommand && affair.legionsByCommand.length == 1
                  td(title=affair.legionsByCommand[0].commander) #{affair.legionsByCommand[0].size}
                else
                  td #{_.sum(_.pluck(affair.legionsByCommand, 'size'))}
                if affair.legions
                  td #{affair.legions.length}
                else
                  td 0
                if affair.legionsByCommand && affair.legionsByCommand.length > 1
                  td(data-id=i, style="", colspan="5").expandable
                    table(width="100%", class="ui box small")
                      tbody
                        for legion in affair.legionsByCommand
                          tr
                            th #{legion.commander}
                            td #{legion.size}
block scripts
  script(src="/js/jquery.table.js")
  script(src="/js/affairs.js")