extends ../layout

block head
  - var title = mkTitle(avalon.website.news.title)
  - var description = avalon.website.news.description
  - var keywords = mkKeywords(avalon.website.news.keywords)
  - var canonical = "http://www.avalon-rpg.com/news/"
  - var body = "news"

mixin panel(id, title, background)
  - var sectionid = id + "-section";
  .ui.feature.feature-double.spacing-small.background(id=sectionid)
    if background
      +background-gradient-image(sectionid, background)
    .contain.large
      a(id=id)
      h2.title= title
      .content
        block

mixin strip(id, background)
  .ui.feature.spacing-small.background(id=id)
    if background
      +background-gradient-image(id, background)
    .contain.large
      .content
        block

block content

  +panel("intro2", meta.title)
    p.lead #{meta.summary}

  +panel("events", "Forthcoming Events", "/img/news.png")
    table.ui.table
      thead
        tr
          th Date
          th Event
      tbody
        for update, key in events
          tr
            td(width="20%") !{key}
            td !{update}
    .text.help !{scheduleHelp}

  +strip("strip-1", "/img/headers/bard.png")
    blockquote.large.center
      p
        a(href="/help/pages/gemholder") The Hunt for Ordination
      cite Current Holders of Divine Gems and Contenders for God

  +panel("bb", meta.bulletin.title, "/img/bb.png")
    .ui.grid.responsive.two.columns
      for item in meta.bulletin.items
        //- if item.showasnews
        .column
          h4.ui.title: a(href=item.url) #{item.title}
          | #{item.description}

  if recent
    +panel("politics", "Recent Politics", "/img/politics.png")
      table.ui.table
        thead
          tr
            th Date
            th Event
        tbody
          for update in recent
            tr
              td(width="20%") #{update.date}
              td #{update.item}

  +panel("military", meta.military.title, "/img/military.png")
    table.ui.sortable.selectable.revealable.table#militaryTable
      thead
        tr
          th(data-sort="string") Village
          th(data-sort="string") City
          th(data-sort="string") Conflict
          th(data-sort="string") Occupied
          th(data-sort="int") Troops
          th(data-sort="int") Legions
      tbody
        for affair,i in affairs
          tr(data-id=i, class={expand: affair.legionsByCommand && affair.legionsByCommand.length > 1})
            td
              if affair.legionsByCommand && affair.legionsByCommand.length > 1
                i.icon.angle.down
              | #{affair.village}
            td #{affair.city}
            td #{affair.conflict}
            td #{affair.occupied}
            if affair.legionsByCommand && affair.legionsByCommand.length == 1
              td(title=affair.legionsByCommand[0].commander) #{affair.legionsByCommand[0].size}
            else
              td #{_.sum(_.pluck(affair.legionsByCommand, 'size'))}
            if affair.legions
              td #{affair.legions.length}
            else
              td 0
            if affair.legionsByCommand && affair.legionsByCommand.length > 1
              td(data-id=i, style="", colspan="5").expandable
                table(width="100%", class="ui box small")
                  tbody
                    for legion in affair.legionsByCommand
                      tr
                        th #{legion.commander}
                        td #{legion.size}

      //- Current Affairs
        .section.affairs.box.ui
          h2.ui.title.underline #{meta.affairs.title}
          .ui.grid.responsive.two.columns
            for item in meta.affairs.items
              .column
                h4.ui.title: a(href=item.url) #{item.title}
                | #{item.description}



block scripts
  script(src="/js/jquery.table.js")
  script(src="/js/affairs.js")