extends ../layout

block head
  if (page.type == "library")
    - var title = page.library.meta.seo.title
    - var description = page.library.meta.seo.description
    - var keywords = page.library.meta.seo.keywords
  if (page.canonical)
    - var canonical = page.canonical
  else if (page.library.meta.canonical)
    - var canonical = page.library.meta.canonical
block content
  .ui.content.page.login
    .contain.large
      if (page.type == "library")
        if (page.library.meta.subtitle)
          h1.ui.title.center #{page.library.meta.title}
          h2.ui.sub.title.center.underline #{page.library.meta.subtitle}
        else
          h1.ui.title.center.underline #{page.library.meta.title}
      .ui.grid.responsive
        .eleven.column.wide.main
          if (page.library)
            .text.help.markdown !{page.library.html}
          else
            .text.help !{page.html}

        .five.column.wide.sidebar
          include ../includes/multiform

block scripts
  script(src="/js/jquery.validate.min.js")
  script.
    $(".switch.menu .item").click(function(e) {
      var target = $(e.currentTarget);
      var type = target.data("type");

      if (type == "create") {
        $("#loginForm").hide("fast");
        $("#createForm").show("fast");
        $(".switch.menu .item").removeClass("active");
        target.addClass("active");
      } else {
        $("#createForm").hide("fast");
        $("#loginForm").show("fast");
        $(".switch.menu .item").removeClass("active");
        target.addClass("active");
      }
    })
    $("#createForm").validate({
      onkeyup: false,
      rules: {
        username: {
          required: true,
          minlength: 3,
          remote: {
            url: "/api/checkname",
            data: {
              format: "boolean"
            }
          }
        },
        password: "required",
        confirmpass: {
          equalTo: "#create-password",
          required: true
        },
        email: "email",
      },
      messages: {
          username: {
            required: "This field is required",
            minlength: "Your username needs to be at least 3 characters",
            maxlength: "Your username needs to be less than 18 characters",
            remote: "You can't use this name, try another one."
          }
        }
    });

    $("#loginForm").validate({
      rules: {
        username: {
          required: true,
          minlength: 3,
          maxlength: 18
        },
        password: "required"
      }
    });
    $("input[type='radio'][name='run']").change(function(e) {
      var target = $(e.currentTarget);
      var value = target.val();
      var form = target.closest("form");
      if (value == "umbra") form.attr("action", "http://umbra.avalon-rpg.com");
      //- if (value == "umbra") form.attr("action", "http://localhost:2252");
      if (value == "applet") form.attr("action", "/javalon");
      if (value == "lumiere") form.attr("action", "/lumiere");
    });