extends ../layout
include ../includes/bb

block head
  - var title = board.title + " Bulletin Board - Avalon Online RPG"
  - var description = false
  link(rel="canonical", href="http://www.avalon-rpg.com/bb/" + board.url)

block content
  .ui.content.bb
    .contain
      .bread
        a(href="/bb/") BB
        i.icon.angle.right
        | #{board.title}
      h2.ui.title.center.underline #{board.title} Bulletin Board

      .ui.box
        .ui.sub.title.center Showing posts #{board.count - (20 * (page - 1))} to #{board.count - (20 * page)}

        .section.bb
          for post in posts
            .post.section(id="post-"+post.number)
              h3.ui.title
                a(href="/bb/"+board.url+"/"+post.number + "/" + encodeURIComponent(post.subject.split(" ").join("-"))) #{post.subject}
                a(href="/bb/"+board.url+"/"+post.number + "/" + encodeURIComponent(post.subject.split(" ").join("-"))).right.label ##{post.number}
              p Posted by 
                a(href="/bb/" + board.url + "/participant/"+post.from.shortname) #{post.from.fullname}
                |  on 
                +date(post.timestamp)
      .ui.box
        +pagination(board, page)