extends ../layout
include ../includes/bb

block head
  - var title = post.subject + " - " + board.title + " Bulletin Board - Avalon Online RPG"
  link(rel="canonical", href="http://www.avalon-rpg.com/bb/"+board.url+"/"+post.number+"/"+encodeURIComponent(post.subject))

block content
  .ui.content.bb
    .contain
      .bread
        a(href="/bb/") BB
        i.icon.angle.right
        a(href="/bb/" + board.url)  #{board.title}
        i.icon.angle.right
        |  Post <b>#{post.number}</b>
      h2.ui.title.underline
        | #{post.subject}
        .right.label ##{post.number}

      .post.section(id="post-"+post.number)
        .ui.title.underline
          .right.label
            +date(post.timestamp)
          a(href="/bb/" + board.url + "/participant/"+post.from.shortname) #{post.from.fullname}
          span.to(style="display:block;")
            | to 
            if (post.to.shortname == "Everyone")
              | Everyone
            else
              a(href="/bb/" + board.url + "/participant/"+post.to.shortname) #{post.to.fullname}

        .text.bb !{content}